<div class="container-fluid" id="header">
    <div class="navbar-header">
        <h1><a class="navbar-brand logo" href="#"><img src="assets/user.png" width="50px">{{titles}}</a></h1>
      <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active" >About us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active" >Contact</a>
          </li>
      </ul>
    </div>

