/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
#header
{
    background-color: rgb(230, 219, 219);
}
.logo
{
    margin: 50px 0 0 20px;
}
#pagecontent
{
    background-color: white;
    height: auto;
    max-height: 850px;
    padding: 5px;
    border: 1px solid rgb(230, 219, 219);
    position: relative;
}
#footer
{
    background-color: rgb(68, 62, 62);
    padding-top: 10px;
    padding-bottom: 0px;
    position: relative;
    height: 50px;
    width:100%;
}
